<div class="page-title" style="padding : 20px ;">
  <h3>افزودن یک مدل جدید</h3>
</div>
<nb-card>
  <nb-card-body>
    <form [formGroup]="userForm">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="title"> عنوان</label>
              <input type="text" formControlName="title" class="form-control" id="title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="type"> نوع </label>
            
                  <ng-select [items]="this.status"
                            bindLabel="status"
                            bindValue="id"
                            id = "type"
                            formControlName="type"
                            style="display: inline-block !important ;"
                            class="form-control-select"
                            (change)="onTypeChange($event)"                            
                            >
                            
                              
                  </ng-select>
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description"> توضیح</label>
              <input type="text" formControlName="description" class="form-control" id="description" placeholder="">
            </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="departments"> بخش مسؤل</label>
              <ng-select [items]="this.departments"
                            bindLabel="name"
                            bindValue="id"
                            id = "departments"
                            fofrmControlName="department"
                            style="display: inline-block !important ;"
                            class="form-control-select"
                            (change)="onDescChange($event)"                            
                            >
                            
                              
                  </ng-select>
            </div>
          </div>
        </div>
        
      </div>
      <button (click)="submit()" class="btn btn-primary">ثبت</button>
    </form>
  </nb-card-body>
</nb-card>
